body {
  margin: 0;
  font-family: century gothic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  background-color: rgb(173, 170, 138);
}

.flex-container > div {
  color: white;
  width: 700px;
  height: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  border-radius: 10px;
  border: 1px;
}
